body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-form {
  width: 50%;
  margin: 0 auto;
}

.login-form button {
  margin-right: 10px;
}

.input-recipe {
  width: auto;
  margin: 0 15%;
  text-align:center;
}

.input-recipe button {
  margin-left: 5px;
}

.content{
  margin:15px auto;
  height:80%;
}

footer {
  background-color: #50adc8;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 94%;
  text-align: center;
  color:white;
  margin-left:3%;
}

.recipe a {
  margin-right:10px;
}
/* .card-deck{
  display: inline-block;
  width: 30%;
}
.card-deck img{
  width: 100%;
} */
.card-deck a{
  margin-right: 10px;
}

nav{
  overflow: hidden;
  background-color: #50adc8;
  height:10%;
}
nav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}
nav a:hover, .logout:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

.login-info {
  float: right;
  display: flex;
  flex-flow: row wrap;

}

/* .login-info button {
  padding: 14px;
  font-size: 1rem;
  margin: 0;
} */

.login-info>div>button{
  margin-top:.5rem;
  margin-right:1rem;
  align-items: center;
}

.panel-default{
  color:red;
}